name: Branch Docker Build

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -f env-files/torch/skinny.Dockerfile \
            -t ghcr.io/${{ github.repository_owner }}/itwinai-dev:prov4ml_ri_scale .
          docker push ghcr.io/${{ github.repository_owner }}/itwinai-dev:prov4ml_ri_scale
